#tabs-wrp .tabs-bg .region-tab-boxes .block{float:left;}
#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li a,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li a{margin-right:5px !important; float:left; width: 157px !important;}
#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li a:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li a:hover{margin-left:3px !important; margin-right:0px !important;}