body{background:#F4F4F4;}
#page-wrapper{width:1002px;}
.form-submit{background: url('../images/button-mg.jpg') no-repeat;
border: none;
height: 35px;
min-width: 148px;
text-align: center;
color: white;
font-weight: bold;
cursor:pointer;
padding-top: 2px;}
.form-submit:hover{background: url('../images/button-mg-ov.jpg') no-repeat;}
/******************************************************** Header ***********************************************/
#header{  height: 112px; float:left; width: 1002px;}
#header .section{background:url('../images/header-bg.jpg') repeat-x ; height: 112px; position:absolute; width:100%; left:0;}
#header .section #header-inner{background:url('../images/header2.jpg') no-repeat ; height: 112px; width:1002px; margin:0 auto;}
#logo{margin-left: 8px; margin-top: 25px; }
#header #search-box {float: right; margin-right: 20px; margin-top: 7px; }
#header #search-box #edit-search-theme-form-1{
background: url('../images/search-text-1.jpg') no-repeat;
border: none;
height: 26px;
width: 133px;
padding-left: 26px;
padding-right: 2px;
margin-top: 0px;
padding-top: 0px;
outline:none;
}
#header #search-box .form-submit {
background: url('../images/button-img.jpg') no-repeat top;
border: none;
height: 27px;
width: 77px;
min-width: 77px;
color: white;
font-weight: bold;
cursor: pointer;
text-align: center;
vertical-align: middle;
padding-top: 0px;
}
#header #search-box .form-submit:hover{background: url('../images/button-img-hover.jpg') no-repeat top;}


#top-menu{float:left;}
#header_top_menu{float: right; margin-right: 10px; margin-top: 7px; min-width: 663px; text-align: right; }
#header_top_menu .block-nice_menus ul.nice-menu-down,#header_top_menu .block-nice_menus{margin:0px; float:right;}

#primary-menu #primary-menu-inner ul.menu li,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent,#header_top_menu .block-nice_menus ul.nice-menu li {border:none;  background:none; padding:0px; /*padding-left:11px;*/}
#primary-menu #primary-menu-inner ul.menu li a,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent a,#header_top_menu .block-nice_menus ul.nice-menu li a{text-decoration: none;
font-weight: bold;
font-size: 16px;
font-family: arial;
color: #000000;
padding:5px 10px 5px 0px;
margin-left:10px;

}
#primary-menu #primary-menu-inner ul.menu li ul{display:none;}
#primary-menu #primary-menu-inner ul.menu li:hover a,#primary-menu #primary-menu-inner ul.menu li a:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li.menu-path-front:hover a,#header_top_menu .block-nice_menus ul.nice-menu li:hover a,#header_top_menu .block-nice_menus ul.nice-menu-down li.menu-path-front a:hover,#header_top_menu .block-nice_menus ul.nice-menu li a:hover{background:url('../images/top-menu-hover.png') no-repeat right bottom;
color:#ffffff;}
#primary-menu #primary-menu-inner ul.menu li:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li:hover,#header_top_menu .block-nice_menus ul.nice-menu li:hover{background:url('../images/top-menu-hover1.png') no-repeat left bottom;
color:#color: #E3F8FF;}
#primary-menu #primary-menu-inner ul.menu li:hover ul{display:block;}
#primary-menu #primary-menu-inner ul.menu li:hover ul,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul,ul.nice-menu li.menuparent ul, #header-region ul.nice-menu li.menuparent ul{margin-top: 3px; padding-top:15px; border:none; margin-left: -49px;}
#primary-menu #primary-menu-inner ul.menu li:hover ul,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul{background:url('../images/ov-arrow1.png') no-repeat center top;}
#primary-menu #primary-menu-inner ul.menu li.expanded ul li,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li{background:url('../images/ddmli-mdl1.png') repeat-y center top; padding-top:2px; margin-left:3px;}
#primary-menu #primary-menu-inner ul.menu li.expanded ul li.first,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li.first{background:url('../images/ddmli-fst12.png') no-repeat center top;  padding-top:3px;}
#primary-menu #primary-menu-inner ul.menu li.expanded ul li.last,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li.last{background:url('../images/ddmli-last12.png') no-repeat center bottom; padding-bottom:4px;}
#primary-menu #primary-menu-inner ul.menu li.expanded ul li a,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li a,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li a{background:url('../images/dd-m-line.jpg') repeat-x center bottom; text-align:center; color:#626566; padding:0px; width: 157px;
height:28px; padding-top:7px; margin-left:9px; font-size:13px;}
#primary-menu #primary-menu-inner ul.menu li.expanded ul li.last a,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li.last a{background:none;}
#primary-menu #primary-menu-inner ul.menu li.expanded ul li.first a:hover,#primary-menu #primary-menu-inner ul.menu li.expanded ul li.last a:hover,#primary-menu #primary-menu-inner ul.menu li.expanded ul li a:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li a:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li.first a:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li.last a:hover{background:url('../images/d-dm-ov.jpg') no-repeat center top; color:#ffffff;}



/***************************************** Navigation **********************************/
#navigation{margin:0px; height:auto; width:1002px;  float:left;  }
#navigation .block-rotor{margin:0px; height: 385px; width:1002px; float:left; position: static;}
#navigation .block-rotor .content{height:400px; background:url('../images/sub-bg.jpg') repeat-x ; z-index: -1; position:absolute; left:0; width:100%;}
#navigation .block-rotor h2,#navigation .block-rotor  .rotor-tabs{display:none;}
#navigation .rotor {margin: 50px auto 0 auto; height: 340px; border:5px solid #F4F4F4; border-bottom:none; background:url('../images/slider-shadow1.png') no-repeat center bottom;}


/***************************************** tabs-wrp **********************************/
#tabs-wrp {float: left; width: 1002px; height: 130px; margin: 10px 0px; }
#tabs-wrp .tabs-bg{background:url('../images/middile-tab-bg1.jpg') repeat-x ; position:absolute; width:100%; height:130px; left:0px;}
#tabs-wrp .tabs-bg .region-tab-boxes{width:913px; margin: 0 auto; text-align:center;}
#tabs-wrp .tabs-bg .region-tab-boxes .block{background:url('../images/middile-tabs-line.jpg') no-repeat right center ;background: url('../images/middile-tabs-line.jpg') no-repeat right center;
height: 110px;
padding: 10px;
margin: 0px;
display: inline-block;
width: 217px;
text-align: center;
vertical-align: top;
padding-left: 0px;}
#tabs-wrp .tabs-bg .region-tab-boxes .block.last{background:none; padding-right: 0px;}
#tabs-wrp .tabs-bg .region-tab-boxes .block .content{vertical-align: middle !important; height: 95px;}
#tabs-wrp .tabs-bg .region-tab-boxes .block h2  {font-size: 16px; font-family: 'arial'; color: #1E1F21;}
#tabs-wrp .tabs-bg .region-tab-boxes .block .content p{
vertical-align: middle;
height: 90px;


text-align: center;
width: 217px;
margin: 0 auto;}
#tabs-wrp .tabs-bg .region-tab-boxes .block .content p a img{


vertical-align: middle;
border:none; outline:none;}
#tabs-wrp .tabs-bg .region-tab-boxes .block h2 .black,#content h2 .black{color: #1E1F21;}
#tabs-wrp .tabs-bg .region-tab-boxes .block h2 .blue,#content h2 .blue{color: #008dba;}
/******************************************* Content ************************************/
#main-wrapper{float:left;}
#content{float: left !important; margin: 0px 10px 0 0 !important; width: 639px !important;}
#content .region-highlight{ float:left; height:130px; width:100%;}
#content h2{background:url('../images/heading-line.jpg') no-repeat left top ; color: #008DBA;
font-size: 16px;
padding-left: 14px;
height: 49px;
padding-top: 0px;}
#content h2 a {
    border-bottom: 2px solid #0085CE;
    color: #008DBA;
    float: left;
    font-family: tahoma;
    font-size: 30px;
    font-weight: normal;
    height: 22px;
    padding-bottom: 9px;
    padding-top: 2px;
    text-decoration: none;
    text-transform: capitalize;
}
#main-wrapper {
float: left;
width: 1002px;
margin-top: 20px;
}
#main {
margin: 0 auto;
width: 920px;
overflow: hidden;}
#content .content{
color: #636363;
font-weight: bold;
font-size: 14px;
text-align: justify;}



/**************************************** Footer **************************************/
#footer{min-height:258px; float:left; width:1002px;}
#footer .section {
float: left;
width: 100%;
border-top: 7px solid #5FADD4;
background:url('../images/footer-bg.jpg') repeat-x center top;
min-height:250px;
position:absolute;
left:0;
}
#top-menu{display:none;}

/**************************************** Footer user **************************************/
.user_1,.user_2,.user_3,.user_4{float:left; min-width:200px; margin-right:10px;}

.copy_right{float:left;}

#sidebar-first{float: right; width: 261px; padding: 0 5px; overflow: hidden; }

#sidebar-first .region-sidebar-first {float: left; margin: 5px 0 0;}
.menuu_links{float: left; width: 200px;}
#footer h2{color:#ffffff; font-size:14px;}
.menuu_links ul li{width: 175px; float: left; border-bottom:1px solid #000000; padding: 2px 8px;}
.menuu_links ul li a{color:#707070; text-decoration:none; font-size: 13px; font-size: 13px; font-weight: normal; padding-bottom:2px;  padding-top: 3px; float:left;}

/**************************************** sidebar-first .testimonials **************************************/
#sidebar-first .testimonials{float: left; width: 261px; margin: 5px auto 0;}
#sidebar-first .testimonials .content{float: left;
background: url('../images/testimonials-background.png') no-repeat center top;
width: 251px;
height: 207px;
padding: 5px 5px 47px;
color:#ffffff;
margin-top:0px;
}
#sidebar-first .testimonials .content p{margin:0px;}
#sidebar-first .testimonials h2{float:right; color:red; font-size:14px; font-weight:normal; text-align:right;}
.region-testimonials{float:left;}

/**************************************** sidebar-first .right_sidee_boxes **************************************/
.right_sidee_block{float:left; margin-top:10px;}
.right_sidee_block h2.title{background: url('../images/Side-bar-tab.jpg') no-repeat center top;
float: left;
width: 251px;
height: 42px;
padding-top: 7px;
padding-left: 5px;
color: white;
font-size: 15px;
}


.user_1{margin-left: 10px;}




/******************************* primary menu ***************************************/
/*#primary-menu{position: absolute; z-index: 999; width: 1002px;}*/
#primary-menu{float: right;
margin-right: 10px;
margin-top: 30px;
min-width: 500px;}
/*#primary-menu #primary-menu-inner ul.menu{padding-left:2em;}*/ 
#primary-menu #primary-menu-inner ul.menu li{list-style:none; float:left; height: 28px;}

#navigation .block-rotor .content{overflow:visible important;}

#primary-menu #primary-menu-inner ul.menu li.expanded ul{
position: absolute;
margin-top: 26px;}

#primary-menu #primary-menu-inner ul.menu li a{float:left;}

#primary-menu #primary-menu-inner ul.menu li.expanded ul {
position: absolute;
margin-top: 26px;
float: left;
width: 125px;
z-index: 99999;
}

#primary-menu #primary-menu-inner ul.menu li.expanded ul li.first, #header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li.first {
background: url('../images/ddmli-fst12.png') no-repeat center top;
padding-top: 3px;
width: 163px;
}
#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li{width: 163px; }
#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li a:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li.first a:hover,#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li.last a:hover,#primary-menu #primary-menu-inner ul.menu li.expanded ul li a:hover{
margin-left: 3px;
margin-right: 0px;
padding-right: 0px;}


#header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent ul li a, #header_top_menu .block-nice_menus ul.nice-menu-down li.menuparent:hover ul li a{margin-left: 3px;}